# Go to openrouter (https://openrouter.ai/workspaces/default/keys)[openrouter API Key]
# And Create a free Api key and paste it below
OPENROUTER_API_KEY= #<openrouter API Key>


# Leave this link as it is
OPENROUTER_URL=https://openrouter.ai/api/v1/

# Make a new file called .env or rename this file as the same